
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$white:         #FFF;   
$header:        #E65C43;
$orange:        #F25C43;
$grey:          #666;
$bar:           #F5F6F6;  
$footer:        #30353D;  

$font-body:     'Roboto', sans-serif, ;
  